<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')


<body>
  <header>
    @@include('../partials/components/header.html')

  </header>
  <main>
    @@include('../partials/components/exchange.html')
    <!-- @@include('../partials/components/slider.html') -->

    @@include('../partials/components/schedule.html')
    @@include('../partials/components/exchange_bottom.html')
    @@include('../partials/components/services.html')
    @@include('../partials/components/location.html')


    

  </main>
  <footer>
    @@include('../partials/components/footer.html')

  </footer>
    @@include('../partials/scripts/common.html')
</body>
<script src="js/swiper.min.js"></script>

</html>
