<div class="exchange_bottom container">
    <div class="exchange_bottom_link">
        <h2>eur/usd</h2>
        <div class="exchange_bottom_link_buy exchange_bottom_link_container">
            <span>1.198</span>
            <div class="arrow_bottom arrow_down">
                <i class="icon-down"></i>
                <p>-0.002</p>
            </div>
        </div>
        <div class="exchange_bottom_link_sale exchange_bottom_link_container">
            <span>1.204</span>
            <div class="arrow_bottom arrow_down">
                <i class="icon-down"></i>
                <p>-0.004</p>
            </div>
        </div>
    </div>
    <div class="exchange_bottom_link exchange_bottom_link_right">
        <h2>usd/rub</h2>
        <div class="exchange_bottom_link_buy exchange_bottom_link_container">
            <span>75.200</span>
            <div class="arrow_bottom_right arrow_down">
                <i class="icon-down"></i>
                <p>-0.3</p>
            </div>
        </div>
        <div class="exchange_bottom_link_sale exchange_bottom_link_container">
            <span>76.950</span>
            <div class="arrow_bottom_right arrow_up">
                <i class="icon-up"></i>
                <p>+0.005</p>
            </div>
        </div>
    </div>

</div>