<div class="exchange container">
  <h1>Курсы валют</h1>
  <span class="exchange_data"> среда 03-02-2021, 12:50:34 </span>
  <div class="section_exchange">
    <div class="exchange_text">
      <div class="text">
        <p>покупка</p>
      </div>
      <div class="text">
        <p>продажа</p>
      </div>
    </div>
    <div class="slider">
      <div class="swiper-container">
        <div class="swiper-wrapper section_exchange">
          <div class="swiper-slide exchange_link">
            <h2>USD</h2>
            <div class="exchange_link_buy exchange_link_container">
              <div class="exchange_holder">
                27.90
                <div class="arrow arrow_down">
                  <i class="icon-down"></i>
                  <small>-0.1</small>
                </div>
              </div>
            </div>
            <div class="exchange_link_sale exchange_link_container">
              <div class="exchange_holder">
                28.10
                <span class="arrow arrow_down">
                  <i class="icon-down"></i>
                  <small>-0.05</small>
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide exchange_link">
            <h2>EUR</h2>
            <div class="exchange_link_buy exchange_link_container">
              <div class="exchange_holder">
                33.60
                <span class="arrow arrow_down">
                  <i class="icon-down"></i>
                  <small>-0.05</small>
                </span>
              </div>
            </div>
            <div class="exchange_link_sale exchange_link_container">
              <div class="exchange_holder">
                33.85
                <span class="arrow arrow_up">
                  <i class="icon-up"></i>
                  <small>+0.05</small>
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide exchange_link">
            <h2>RUB</h2>
            <div class="exchange_link_buy exchange_link_container">
              <div class="exchange_holder">
                0.366
                <span class="arrow arrow_down">
                  <i class="icon-down"></i>
                  <small>-0.002</small>
                </span>
              </div>
            </div>
            <div class="exchange_link_sale exchange_link_container">
              <div class="exchange_holder">
                0.372
                <span class="arrow arrow_down">
                  <i class="icon-down"></i>
                  <small>-0.001</small>
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide exchange_link">
            <h2>RUB</h2>
            <div class="exchange_link_buy exchange_link_container">
              <div class="exchange_holder">
                0.366
                <span class="arrow arrow_down">
                  <i class="icon-down"></i>
                  <small>-0.002</small>
                </span>
              </div>
            </div>
            <div class="exchange_link_sale exchange_link_container">
              <div class="exchange_holder">
                0.372
                <span class="arrow arrow_down">
                  <i class="icon-down"></i>
                  <small>-0.001</small>
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide exchange_link">
            <h2>RUB</h2>
            <div class="exchange_link_buy exchange_link_container">
              <div class="exchange_holder">
                0.366
                <span class="arrow arrow_down">
                  <i class="icon-down"></i>
                  <small>-0.002</small>
                </span>
              </div>
            </div>
            <div class="exchange_link_sale exchange_link_container">
              <div class="exchange_holder">
                0.372
                <span class="arrow arrow_down">
                  <i class="icon-down"></i>
                  <small>-0.001</small>
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide exchange_link">
            <h2>RUB</h2>
            <div class="exchange_link_buy exchange_link_container">
              <div class="exchange_holder">
                0.366
                <span class="arrow arrow_down">
                  <i class="icon-down"></i>
                  <small>-0.002</small>
                </span>
              </div>
            </div>
            <div class="exchange_link_sale exchange_link_container">
              <div class="exchange_holder">
                0.372
                <span class="arrow arrow_down">
                  <i class="icon-down"></i>
                  <small>-0.001</small>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
