<div class="location">
  <div class="location_top container">
    <div class="location_top_link">
      <strong>как проехать</strong>
      <p>г.Харьков, Пушкинская 26</p>
    </div>
    <div class="location_top_link location_phone">
      <a href="tel:+380676256565">067 625 65 65</a>
    </div>
    <div class="location_top_link location_time">
      <strong>режим работы</strong>
      <span>ПН-СБ</span>
      <p class="time">10:00-20:00;</p>
      <span> ВС</span>
      <p class="time">11:00-18:00</p>
    </div>
  </div>
  <img src="images/map.jpg" alt="location" />
  <div class="location_map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.8691768573344!2d36.23407891588375!3d49.99506212795314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0efa16c3491%3A0x23a13c7ef4942202!2z0YPQuy4g0J_Rg9GI0LrQuNC90YHQutCw0Y8sIDI2LCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1616430300393!5m2!1sru!2sua"
      width="1920px;"
      height="407"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</div>
