<div class="services container">
    <h3>Наши услуги</h3>
    <div class="services_list">
        <a href="#">
            <i class="icon-bitcoin"></i>
            <h4>обмен криптовалют</h4>
        </a>
        <a href="#">
            <i class="icon-caviar"></i>
            <h4>Продажа икры</h4>
        </a>
        <a href="#">
            <i class="icon-ukr"></i>
            <h4>переводы по украине</h4>
        </a>
        <a href="#">
            <i class="icon-world"></i>
            <h4>международные переводы</h4>
        </a>
    </div>
</div>